<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span *ngIf="!panelOpenState">
          <span *ngIf="!langSelected && !voiceSelected && !userLanguageSelected">Settings</span>
          <span *ngIf="langSelected">I would like to learn to speak {{langSelected?.name}}&nbsp;</span>
          <span *ngIf="voiceSelected"> using {{voiceSelected?.name}} voice&nbsp;</span>
          <span *ngIf="userLanguageSelected">I can speak {{userLanguageSelected?.name}} </span>
        </span>
        <span *ngIf="panelOpenState">Settings</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>I would like to learn to speak
      <app-selector [labelName]="'Language'" [selectorData]="langData" (selectUpdate)="selectLearningLanguage($event)"
        [selected]="langSelected"></app-selector>
      using <app-selector [labelName]="'select voice'" [selectorData]="langSelected?.voices || []"
        (selectUpdate)="selectVoice($event)" [selected]="voiceSelected"></app-selector>
      I can speak <app-selector [labelName]="'My Language'" [selectorData]="langData"
        (selectUpdate)="selectUserLanguage($event)" [selected]="userLanguageSelected"></app-selector>
    </div>
  </mat-expansion-panel>
</mat-accordion>
