.card {
  max-width: 800px;
  width: calc( 100vw - 20px);
  margin: 10px auto;
}

.section-title.section-title {
  margin-top: 10px;
  margin-bottom: -4px;
  color: black;
  font-weight: bold;
}

.learn-section {
  padding-top: 20px;
}
