<mat-card class="card">
  <app-language-settings></app-language-settings>
  The word I would like to learn <app-word-selector></app-word-selector>
  <mat-card-subtitle class="section-title"> Say: </mat-card-subtitle>
  <app-pronunciation-info [pronunciationInfo]="whatToSay$ | async" [readonly]="false" (wordUpdate)="wordUpdate($event)"></app-pronunciation-info>
  <mat-card-subtitle class="section-title"> We hear: </mat-card-subtitle>
  <app-pronunciation-info [pronunciationInfo]="whatIsHeard$ | async" [readonly]="true"></app-pronunciation-info>
  <app-sound-record></app-sound-record>
</mat-card>

